article {
  flex: 1 auto;
  padding: 3rem;
  border: 5px solid rgba(71, 106, 139, 0.75);
  margin: 2rem;
  background-color: rgba(71, 106, 139, 0.5);

  h2 {
    text-decoration: underline;
  }

  a:link {
    color: rgb(0, 195, 255);
  }
  a:visited {
    color: rgb(0, 110, 255);
  }
  a:hover {
    color: rgb(0, 156, 204);
  }
  a:active {
    color: azure;
  }
}
