article {
  flex: 1 auto;
  padding: 3rem;
  border: 5px solid rgba(71, 106, 139, 0.8);
  margin: 2rem;
  background-color: rgba(71, 106, 139, 0.6);

  h2 {
    text-decoration: underline;
  }

  a:link {
    color: rgb(0, 200, 255);
  }
  a:visited {
    color: rgb(0, 175, 255);
  }
  a:hover {
    color: rgb(0, 150, 255);
  }
  a:active {
    color: azure;
  }
}

img {
  width: 250px;
  height: 200px;
}
